@page 
@model PacktFeatures.Pages.CustomerPageModel

<div class="row">
    <h1 class="display-2">Customer</h1>
    <input type="text" value="@Model.Customer.CompanyName" />
    <input type="text" value="@Model.Customer.ContactName" />
    <input type="text" value="@Model.Customer.Country" />
    <input type="text" value="@Model.Customer.Region" />
    <input type="text" value="@Model.Customer.City" />
    <input type="text" value="@Model.Customer.Address" />
    <input type="tel" value="@Model.Customer.Phone" />
</div>